.main-content, table-content {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.header-title {
	font-size: 3em;
	font-weight: 300;
	border-bottom: 1px solid #2e2e2e;
	margin: 1.5em 0 1em;
}

.padding1 {
	padding: 1em;
}

a {
	text-decoration: none;
}

.countryName {
	text-align: left;
	font-size: 2.5em;
	font-weight: 300;
}

.countryFlag {
	height: 300px;
	width: auto;
}

.view-animation.ng-enter,.animate-view.ng-leave { transition:1s linear all; }
.view-animation.ng-enter { opacity:0; }
.view-animation.ng-enter.ng-enter-active { opacity:1; }
.view-animation.ng-leave { opacity:1; }
.view-animation.ng-leave.ng-leave-active { opacity:0; }